body {
    font-family: "Raleway", sans-serif;   
}

.navbar {
    font-weight: 100;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    .navbar-brand h3 {
        font-weight: 100;
    }

    .nav-item{
        font-size: 1.4rem;
    }

    .nav-link:hover {
        transition: border 0.2s;
        border-bottom: 1px solid #fff;
    }
}

#showcase {
    background: url(../img/main.jpeg) bottom center / cover no-repeat;
    min-height: 750px;
   
    h1 {
        font-family: "Questrial", sans-serif;
        line-height: 1;
    }

    #book {
        font-size: 1.5rem;
        border-radius: 2rem;   
    }
}

#quotes {
    i {
        opacity: 0.3;
    }
}

#footer {
    font-weight: 100;
}


@media(max-width:768px) {
    .navbar {
        background-color: #1f1f1f;
    
    .nav-link:hover {
        border-bottom: none;
        }
    
    }

    #showcase {
        min-height: 500px;
        h1 {
            font-size: 4rem;
        }
    }
}

@media(max-width:500px) {
    #showcase {
        h1 {
            font-size: 3rem;
        }

        .btn {
            padding-left: 2.5rem;
            padding-right: 2.5rem;
        }
    }


}